.ContainerStyle {
    height: 100vh;
}

.CenterVertically {
margin-top: auto;
margin-bottom: auto;
}

.RowDashboardItem {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #EEEBE7;
}

.ColDashboardItem {
    display:flex;
    /* border-style: solid;
    border-width: 3px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EEEBE7;
}

.progressBar { 
    min-height: 350px;
    min-width: 350px; 
    transform: rotate(-90deg);
    background-color: white;
    color: #6F1A07;
}

.Modal {
    display:flex;
    min-width: 90%;
    min-height: 90%;
}

.CardStyle{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ChartDiv {
    display: flex;
    min-height: 100px;
}

h2.Header{ 
    text-align: center;
}

