.ContainerStyle {
    height: 100vh;
}

.RowDashboardItem {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.ColDashboardItem {
    height: 100%;
    width:50%;
}

.progressBar { 
    /* min-height: 40vw;
    min-width: 90vh;  */
    /* transform: rotate(-90deg); */
}

.Modal {
    display:flex;
    min-width: 90%;
    min-height: 90%;
}

.CardStyle{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ChartDiv {
    display: flex;
    min-height: 100px;
}
